ai-job-application-assistant-n8n-template.json
{
  "name": "AI-Powered Job Application Assistant with Resume Generation",
  "nodes": [
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "YOUR_DISCORD_GUILD_ID",
          "mode": "list",
          "cachedResultName": "Gõd's Server",
          "cachedResultUrl": "YOUR_GOOGLE_SHEET_URL"
        },
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Discord Bot').first().json.channelId }}"
        },
        "options": {}
      },
      "id": "8a90e0e6-5b5e-40a5-b3c0-66070cf4839e",
      "name": "Discord Bot",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        3664,
        368
      ]
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "id": "1ac8a927-aa29-43ad-94c4-213c356934f3",
      "name": "WhatsApp Trigger",
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        256,
        432
      ]
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "YOUR_META_PHONE_NUMBER_ID",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.entry[0].changes[0].value.messages[0].from }}",
        "textBody": "={{ $('Job Application AI Agent').item.json.output || $('Job Application AI Agent').item.json.text || 'Application submitted successfully!' }}",
        "additionalFields": {}
      },
      "id": "47024a8f-9818-4c7a-a383-5e336cd1822a",
      "name": "WhatsApp Response",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        3664,
        608
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a professional resume writer.\n\nUsing the following details, generate a clean and professional resume content.\n\nName: {{$json.name}}\nSkills: {{$json.skills}}\nExperience: {{$json.experience}}\nEducation: {{$json.education}}\nLocation: {{$json.location}}\n\nFormat it properly.\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a helpful AI job application assistant. Your role is to: 1) Collect user profile information (skills, work experience, education, contact details), 2) Search for relevant job opportunities based on their profile, 3) Generate ATS-friendly resumes tailored to specific jobs, 4) Help users apply to jobs. Always be professional, encouraging, and guide users through each step. Ask clarifying questions when needed."
        }
      },
      "id": "ecf14f77-3d29-419d-948d-676c77a0e851",
      "name": "Job Application AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        896,
        368
      ]
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"userId\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t\"fullName\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t\"email\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t\"phone\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t\"skills\": {\n\t\t\t\"type\": \"array\",\n\t\t\t\"items\": {\n\t\t\t\t\"type\": \"string\"\n\t\t\t}\n\t\t},\n\t\t\"experience\": {\n\t\t\t\"type\": \"array\",\n\t\t\t\"items\": {\n\t\t\t\t\"type\": \"object\",\n\t\t\t\t\"properties\": {\n\t\t\t\t\t\"company\": {\n\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t},\n\t\t\t\t\t\"position\": {\n\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t},\n\t\t\t\t\t\"duration\": {\n\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t},\n\t\t\t\t\t\"description\": {\n\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t}\n\t\t\t\t}\n\t\t\t}\n\t\t},\n\t\t\"education\": {\n\t\t\t\"type\": \"array\",\n\t\t\t\"items\": {\n\t\t\t\t\"type\": \"object\",\n\t\t\t\t\"properties\": {\n\t\t\t\t\t\"institution\": {\n\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t},\n\t\t\t\t\t\"degree\": {\n\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t},\n\t\t\t\t\t\"year\": {\n\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t}\n\t\t\t\t}\n\t\t\t}\n\t\t},\n\t\t\"jobSearchQuery\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t\"targetJob\": {\n\t\t\t\"type\": \"string\"\n\t\t}\n\t},\n\t\"required\": [\"userId\"]\n}"
      },
      "id": "bc18ca62-d664-4f49-aaf5-99ebc9d2d4e2",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1216,
        592
      ]
    },
    {
      "parameters": {
        "toolDescription": "Search job boards like Indeed, LinkedIn Jobs API for specific job listings. Provide job title, location, and experience level.",
        "url": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('URL', ``, 'string') }}",
        "options": {}
      },
      "id": "d3e5f103-f3b2-4dc7-ae49-4f5988964aff",
      "name": "Job Board API Tool",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        1088,
        592
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "userId",
              "value": "={{$json.messages[0].from}}\n",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "fullName",
              "value": "={{$json.contacts[0].profile.name}}\n",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "email",
              "value": "={{$json.messages[0].text.body.match(/Email:\\s*([^\\n\\r]+)/i)?.[1]?.trim()}}\n",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "phone",
              "value": "={{$json.messages[0].from}}\n",
              "type": "string"
            },
            {
              "id": "id-5",
              "name": "skills",
              "value": "={{$json.messages[0].text.body.match(/Skills:\\s*(.*)/i)?.[1]}}\n",
              "type": "string"
            },
            {
              "id": "id-6",
              "name": "experience",
              "value": "={{$json.messages[0].text.body.match(/Experience:\\s*(.*)/i)?.[1]}}\n",
              "type": "string"
            },
            {
              "id": "id-7",
              "name": "education",
              "value": "={{$json.messages[0].text.body.match(/Education:\\s*(.*)/i)?.[1]}}\n",
              "type": "string"
            },
            {
              "id": "id-8",
              "name": "lastUpdated",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c35241c4-0a7b-4468-b18f-08ec06d83445",
      "name": "Prepare Profile Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1424,
        368
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "fullName",
              "value": "={{ $json.fullName }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "email",
              "value": "={{ $json.email }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "phone",
              "value": "={{ $json.phone }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "skills",
              "value": "={{ $json.skills.join(', ') }}",
              "type": "string"
            },
            {
              "id": "id-5",
              "name": "experience",
              "value": "={{ $json.experience }}",
              "type": "string"
            },
            {
              "id": "id-6",
              "name": "education",
              "value": "={{ $json.education }}",
              "type": "string"
            },
            {
              "id": "id-7",
              "name": "targetJob",
              "value": "={{ $json.targetJob }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "0e80f737-5649-4d97-9204-5c9d634e490d",
      "name": "Prepare Resume Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2096,
        368
      ]
    },
    {
      "parameters": {
        "html": "=<!DOCTYPE html><html><head><style>body{font-family:Arial,sans-serif;margin:40px;line-height:1.6}.header{text-align:center;margin-bottom:30px}.header h1{margin:0;font-size:28px}.contact{text-align:center;margin-bottom:20px}.section{margin-bottom:25px}.section h2{border-bottom:2px solid #333;padding-bottom:5px;margin-bottom:15px}.job,.edu{margin-bottom:15px}.job h3,.edu h3{margin:0;font-size:16px}.job .duration,.edu .year{color:#666;font-style:italic}.skills{display:flex;flex-wrap:wrap;gap:10px}.skill{background:#f0f0f0;padding:5px 10px;border-radius:3px}</style></head><body><div class=\"header\"><h1>={{ $json.fullName }}</h1></div><div class=\"contact\"><p>={{ $json.email }} | ={{ $json.phone }}</p></div><div class=\"section\"><h2>Professional Summary</h2><p>Experienced professional seeking ={{ $json.targetJob }} position</p></div><div class=\"section\"><h2>Skills</h2><div class=\"skills\">={{ $json.skills.split(',').map(s => '<span class=\"skill\">' + s.trim() + '</span>').join('') }}</div></div><div class=\"section\"><h2>Work Experience</h2>={{ $json.experience.map(exp => '<div class=\"job\"><h3>' + exp.position + ' at ' + exp.company + '</h3><p class=\"duration\">' + exp.duration + '</p><p>' + exp.description + '</p></div>').join('') }}</div><div class=\"section\"><h2>Education</h2>={{ $json.education.map(edu => '<div class=\"edu\"><h3>' + edu.degree + '</h3><p>' + edu.institution + '</p><p class=\"year\">' + edu.year + '</p></div>').join('') }}</div></body></html>"
      },
      "id": "e7c8112a-5ae0-4630-811f-65227a3973f5",
      "name": "Generate Resume HTML",
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        2320,
        368
      ]
    },
    {
      "parameters": {
        "operation": "html",
        "options": {
          "fileName": "={{ $json.fullName.replace(/\\s+/g, '_') + '_Resume.pdf' }}"
        }
      },
      "id": "91ca6c03-8d36-4375-be86-f23925333bf7",
      "name": "Convert to PDF",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        2544,
        368
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "userId",
              "value": "={{ $json.userId }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "jobTitle",
              "value": "={{ $json.targetJob }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "company",
              "value": "={{ $json.company || 'N/A' }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "applicationDate",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "id-5",
              "name": "status",
              "value": "={{ $json.statusCode === 200 ? 'Submitted' : 'Failed' }}",
              "type": "string"
            },
            {
              "id": "id-6",
              "name": "resumeGenerated",
              "value": true,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "63d419cb-7e2e-4b37-bff7-5580ef038971",
      "name": "Prepare Application Log",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2992,
        368
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.platform || $json.source }}",
                    "rightValue": "discord",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Discord"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.platform || $json.source }}",
                    "rightValue": "whatsapp",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "WhatsApp"
            }
          ]
        },
        "options": {}
      },
      "id": "c53da7fc-f5fc-4a68-a705-a4c5dba9d116",
      "name": "Route by Platform",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        3440,
        304
      ]
    },
    {
      "parameters": {},
      "id": "8d152653-ed32-4992-96b6-8c5684f4e82a",
      "name": "Merge Platform Inputs",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        480,
        432
      ]
    },
    {
      "parameters": {
        "sendTo": "={{$node[\"Prepare Profile Data\"].json.email}}\n",
        "subject": "=Job Application Confirmation - {{ $json.jobTitle }}",
        "message": "=<p>Dear {{ $json.fullName }},</p><p>Your job application for <strong>{{ $json.jobTitle }}</strong> has been successfully submitted!</p><p><strong>Application Details:</strong></p><ul><li>Job Title: {{ $json.jobTitle }}</li><li>Company: {{ $json.company }}</li><li>Submission Date: {{ $json.applicationDate }}</li><li>Status: {{ $json.status }}</li></ul><p>Your ATS-friendly resume has been generated and submitted. We'll keep you updated on your application status.</p><p>Best regards,<br>AI Job Application Assistant</p>",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "9993c6a9-d19d-4a6d-9018-8ac9414c6305",
      "name": "Send Confirmation Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        3440,
        608
      ]
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        704,
        592
      ],
      "id": "02310838-bcf7-4941-90f9-f9fa5c452bd8",
      "name": "Groq Chat Model"
    },
    {
      "parameters": {
        "resource": "spreadsheet",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1872,
        368
      ],
      "id": "53ee7d1d-8873-41d8-b7ef-decb032010af",
      "name": "Create spreadsheet"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "list",
          "cachedResultName": "User_Profiles",
          "cachedResultUrl": "YOUR_GOOGLE_SHEET_URL"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "YOUR_GOOGLE_SHEET_URL"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{$json.fullName}}",
            "Skills": "={{$json.skills}}\n",
            "Experience": "={{$json.experience}}",
            "Email": "={{$json.email}}",
            "LastUpdated": "={{$json.lastUpdated}}",
            "Phone": "={{$json.phone}}",
            "Education": "={{$json.education}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Skills",
              "displayName": "Skills",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Experience",
              "displayName": "Experience",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Education",
              "displayName": "Education",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LastUpdated",
              "displayName": "LastUpdated",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1648,
        368
      ],
      "id": "2ed16590-03a6-4733-8cc1-4780f1517afb",
      "name": "Append row in sheet"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "list",
          "cachedResultName": "User_Profiles",
          "cachedResultUrl": "YOUR_GOOGLE_SHEET_URL"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "YOUR_GOOGLE_SHEET_URL"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "="
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Skills",
              "displayName": "Skills",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Experience",
              "displayName": "Experience",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Education",
              "displayName": "Education",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LastUpdated",
              "displayName": "LastUpdated",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2768,
        368
      ],
      "id": "cf3ff0a4-0cd0-4015-8eca-1bc9b5e00d62",
      "name": "Append row in sheet1"
    },
    {
      "parameters": {
        "resource": "spreadsheet",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3216,
        368
      ],
      "id": "55ae506d-00a9-44c5-abd6-74e4cf7e21b4",
      "name": "Create spreadsheet1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3440,
        464
      ],
      "id": "936d5f6c-a1fc-4113-ae90-cb561461f3de",
      "name": "Merge"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "68f18275-de51-48ea-ada9-29486bce733d",
      "name": "Job Search Tool",
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        960,
        592
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Merge Platform Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord Bot": {
      "main": [
        [
          {
            "node": "Merge Platform Inputs",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Platform Inputs": {
      "main": [
        [
          {
            "node": "Prepare Profile Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        []
      ]
    },
    "Job Board API Tool": {
      "ai_tool": [
        []
      ]
    },
    "Job Application AI Agent": {
      "main": [
        [
          {
            "node": "Prepare Profile Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Profile Data": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Prepare Resume Data": {
      "main": [
        [
          {
            "node": "Generate Resume HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Resume HTML": {
      "main": [
        [
          {
            "node": "Convert to PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to PDF": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Application Log": {
      "main": [
        [
          {
            "node": "Create spreadsheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Platform": {
      "main": [
        [
          {
            "node": "Discord Bot",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "WhatsApp Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Job Application AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Create spreadsheet": {
      "main": [
        [
          {
            "node": "Prepare Resume Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Create spreadsheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet1": {
      "main": [
        [
          {
            "node": "Prepare Application Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create spreadsheet1": {
      "main": [
        [
          {
            "node": "Route by Platform",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Send Confirmation Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Job Search Tool": {
      "ai_tool": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "4fe0b623-d1d6-4b4d-bc61-5ed6024e12ea",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6a08cc637db84273bd272fb5e466a12d4cebabff1c8bae1d1711b6c55b45e49d"
  },
  "id": "VOWf2S7I8wU15I0u",
  "tags": []
}